<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <style>
        body {
            background-color: #15b0b3;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 40px;
            text-align: center;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h1 {
            font-size: 36px;
            color: #182b66;
            margin-top: 10px;
        }

        form {
            margin-bottom: 30px;
        }

        input[type="url"],
        input[type="text"] {
            padding: 13px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 30px;
            border: 1px solid #962f2f;
            border-radius: 4px;
        }

        button {
            padding: 10px 20px;
            font-size: 18px;
            background-color: #007bff;
            color: #1818da;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .links-container {
            display: flex;
            justify-content: center;
        }

        .links-container button {
            margin: 0 10px;
        }

        .links-container button:last-child {
            background-color: #28a745;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <br><br><br>
        <form action="/" method="POST">
          <input type="url" name="fullurl" placeholder="Type Full Url" required>
            <input type="text" name="note" placeholder="Type note for url" required>
            <button type="submit">Shorten</button>
        </form>
        <br><br><br>
        <h1>Search URL</h1>

        <form action="/search" method="POST">
            <input type="text" name="Search_url" placeholder="type fullurl or shorturl or note">
            <button type="submit">Search</button>
        </form>
        <br><br><br>
        <br>
        <div class="links-container">
            <a href="/database"><button>View Database</button></a>
        </div>
    </div>
</body>
</html>
